#header {
    position:sticky;
    top:0;
    z-index:1071;
}

.grid-item {
    padding: 10px 10px 10px 10px;
}

.no-grid {
    padding: 0px 0px 0px 0px;
}


a.ic:link {
    text-decoration: none;
    color: white;
}

a.ic:visited {
    text-decoration: none;
    color: white;
}

/* for reviews */
.post-m {
    margin: 5px 5px 5px 5px;
}

.width-max {
    max-width:400px;
}

.checked {
    color:orange;
}

@media (max-width: 575px) {
    html {
        font-size: 0.6rem;
      }
}

@media (min-width: 576px) {
    html {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width:992px) {
    html {
        font-size: 1.0rem;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 1.1rem;
    }
}